/* Colors and Fonts */

body {
    background: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #7d7d7d;
    font-size: 15px;
    line-height: 1.6em;
}

/*input[type="button"] {
    justify-content: center;
    width: 30%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

/*#ohjeet-tähän {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: solid 3px;
    border-color: white;
    display: flex;
    justify-content: center;
    color: black;
}*/

.infoButton {
    float:right;
}

#InProgressNappi {
    width: 70px;
    height: 30px;
}

#ohjeet-tähän-p {
    text-align: center;
}



#bootstrap-override-text-color-white {
    color: white;
}
#bootstrap-override {
    background-color: cornflowerblue;
}

#bootstrap-override2 {
    background-color:burlywood;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.sivussa {
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
    color: black;
    font-size: 22px;
}

.h1-topic {
    font-size: 22px;
    text-align: justify;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

p {
    text-align: justify;
}

a {
    color: #ccc;
    text-decoration: none;
}

    a:hover {
        color: #DD5555;
        text-decoration: none;
    }

table {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}

/* First simple components */

.text-center {
    text-align: center;
}

.container {
    width: 500px;
    margin: 30px auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Kortti luokat*/

.btn-muokkaa {
    position: absolute;
    top: 10px;
    right: 100px;
    background-color: green;
    color: white;
}

.topic-card {
}

.btn-poista {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
}
