

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <button id="btn-css" class="btn btn-primary"><a class="nav-link text-light" asp-area="" asp-controller="Aihes" asp-action="Create">Luo uusi aihe</a></button>
                        </li>
                        <li class="nav-item">
                            <button id="btn-css1" class="btn btn-css btn-primary"><a class="nav-link text-light" asp-area="" asp-controller="Aihes" asp-action="">Aiheet</a></button>
                        </li>
                        <li class="nav-item">
                            <button id="btn-css2" class="btn btn-css btn-primary"><a class="nav-link text-light" asp-area="" asp-controller="Aihes" asp-action="ShowSearchForm">Etsi</a> </button>
                        </li>




                    </ul>

                </div>
                <div class="infoButton">
                    <input type="button" value="Ohje" onclick="myFunction()" class="btn btn-info btn-lg" />
                </div>
            </div>
        </nav>
    </header>
    @*<small id="ohjeet-tähän">
            <p id="ohjeet-tähän-p">Tässä ohjeet</p>

        </small>*@

    <div id="ohjeet-tähän" class="container">
        <div class="card text-center">
            <h1>Tässä ohjeet: </h1>
            <p id="ohjeet-tähän-p">Valitse yläriviltä mikäli haluat luoda uuden aiheen, katso aiheita tai etsiä aiheen ID:n tai otsikon perusteella</p>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom text-center">
        <div class="container">
            &copy; 2022 - OppimisPäiväkirjaV2._0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

